{% extends 'WilsonCorpComptabiliteFraisBundle::base.html.twig' %}

{% block header %}
    {{ parent() }}
    Utilisateurs</h1>
{% endblock %}

{% block body -%}
    <div class="row" id="userTitle">
        <h2 class="col-md-10">{{ entity.nom }} - {{ entity.postes.first.name }} </h2>
        <div class="record_actions col-md-2">
            <span class="col-md-6">
                <a class ="btn btn-info" href="{{ path('visiteur_edit', { 'id': entity.id }) }}">Edit</a>
            </span>
            <span class="col-md-6">
                {{ form(delete_form) }}
            </span>
        </div>
    </div>
    {% if 1==4 %}
        <div class="row alert-info" id="tagList">
            Cet utilisateur n'est lié à aucune fiche de frais.
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    {% endif %}
    <a href="{{ path('visiteur') }}">
        Retour à la liste des utilisateurs
    </a>
{% endblock %}
