{% extends 'WilsonCorpComptabiliteFraisBundle::base.html.twig' %}

{% block header %}
    {{ parent() }}
    Utilisateurs</h1>
{% endblock %}

{% block body -%}
    <div class="row" id="userTitle">
        <h2 class="col-md-10" style="color: #ffffff !important;">{{ entity.nom }}{% if entity.postes.first != ""  %} - {{ entity.postes.first.name }}{% endif %} </h2>
    </div>
    {% if 1==4 %}
        <div class="row alert-info" id="tagList">
            Cet utilisateur n'est lié à aucune fiche de frais.
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Fiche n°</th>
                <th>Fiche du mois de</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for fiche in ficheFrais %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if fiche.mois == 01 %}
                            Janvier
                        {% elseif fiche.mois == 02 %}
                            Février
                        {% elseif fiche.mois == 03 %}
                            Mars
                        {% elseif fiche.mois == 04 %}
                            Avril
                        {% elseif fiche.mois == 05 %}
                            Mai
                        {% elseif fiche.mois == 06 %}
                            Juin
                        {% elseif fiche.mois == 07 %}
                            Juillet
                        {% elseif fiche.mois == 08 %}
                            Août
                        {% elseif fiche.mois == 09 %}
                            Septembre
                        {% elseif fiche.mois == 10 %}
                            Octobre
                        {% elseif fiche.mois == 11 %}
                            Novembre
                        {% elseif fiche.mois == 12 %}
                            Décembre
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-info" href="{{ path('fichefrais_show', { 'id': fiche.idVisiteur }) }}">Détails</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a href="{{ path('visiteur') }}">
        Retour à la liste des utilisateurs
    </a>
{% endblock %}
