{% extends 'WilsonCorpComptabiliteFraisBundle::base.html.twig' %}

{% block header %}
    {{ parent() }}
    Fiches de frais</h1>
{% endblock %}

{% block body -%}

    <div class="row panel panel-primary commentsList">
        <div class="panel-heading">
            Vos fiches de frais
        </div>
        <div class="panel-body">
            <table class="table table-striped" id="tabList">
                <thead>
                <tr style="color: #343434 !important;">
                    <th>Créée par</th>
                    <th>Mois</th>
                    <th>Nombre de justificatifs</th>
                    <th>Statut</th>
                    <th>Dernière modification</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('fichefrais_show', { 'id': entity.idVisiteur }) }}">{{ authors.0.nom }}</a></td>
                    <td>
                        {% if entity.mois == 01 %}
                            Janvier
                        {% elseif entity.mois == 02 %}
                            Février
                        {% elseif entity.mois == 03 %}
                            Mars
                        {% elseif entity.mois == 04 %}
                            Avril
                        {% elseif entity.mois == 05 %}
                            Mai
                        {% elseif entity.mois == 06 %}
                            Juin
                        {% elseif entity.mois == 07 %}
                            Juillet
                        {% elseif entity.mois == 08 %}
                            Août
                        {% elseif entity.mois == 09 %}
                            Septembre
                        {% elseif entity.mois == 10 %}
                            Octobre
                        {% elseif entity.mois == 11 %}
                            Novembre
                        {% elseif entity.mois == 12 %}
                            Décembre
                        {% endif %}
                    </td>
                    <td>{{ entity.nbJustificatifs }}</td>
                    <td>{{ entity.montantValide }}</td>
                    <td>{% if entity.dateModif %}{{ entity.dateModif|date('d/m/Y') }} à {{  entity.dateModif|date('H:i:s') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('fichefrais_show', { 'id': entity.idVisiteur }) }}">Détails</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}