{% extends 'WilsonCorpComptabiliteFraisBundle::base.html.twig' %}

{% block header %}
    {{ parent() }}
    Fiche de frais {{ "now"|date("m/Y") }} </h1>
{% endblock %}

{% block body -%}
    <div class="row panel panel-primary commentsList">
        <div class="panel-heading">
            Elements forfaitisés
        </div>
        <div class="panel-body">
            <form>
                {% if ficheFrais is null %}
                    {% for frais in fraisForfait %}
                        <td><label>{{ frais.libelle }}</label></td>
                        <td><input type="text" id={{ frais.id }}
                        name={{ frais.libelle }}
                        size="10" maxlength="5"
                        title="Saisissez une quantité"
                        value="" /></td>
                    {% endfor %}
                {% else %}
                    <table class="table table-striped table-hover" id="tabList">
                        <tbody>
                            {#TODO: Optimiser l'itération des lignesFraisForfait#}
                            {% for ligne in lignesFraisForfait %}
                                <tr>
                                {% if ligne.idFraisForfait == "ETP" %}
                                    <td><label>{{ fraisForfait.0.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.0.id }}
                                    name={{ fraisForfait.0.libelle }}
                                    size="10" maxlength="5"
                                    title="Saisissez une quantité"
                                    value={{ ligne.quantite }} /></td>
                                {% elseif ligne.idFraisForfait == "KM"%}
                                    <td><label>{{ fraisForfait.1.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.1.id }}
                                    name={{ fraisForfait.1.libelle }}
                                    size="10" maxlength="5"
                                    title="Saisissez une quantité"
                                    value={{ ligne.quantite }} /></td>
                                {% elseif ligne.idFraisForfait == "NUI"%}
                                    <td><label>{{ fraisForfait.2.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.2.id }}
                                    name={{ fraisForfait.2.libelle }}
                                    size="10" maxlength="5"
                                    title="Saisissez une quantité"
                                    value={{ ligne.quantite }} /></td>
                                {% elseif ligne.idFraisForfait == "REP"%}
                                    <td><label>{{ fraisForfait.3.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.3.id }}
                                    name={{ fraisForfait.3.libelle }}
                                    size="10" maxlength="5"
                                    title="Saisissez une quantité"
                                    value={{ ligne.quantite }} /></td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <button type="submit" class="btn-default btn" title="Valider les modifications apportées">Valider</button>
            </form>
        </div>
    </div>

    <a class="btn btn-default" href="#">
        Ajouter un élément hors-forfait
    </a>
{% endblock %}
