{% extends 'WilsonCorpComptabiliteFraisBundle::base.html.twig' %}

{% block header %}
    {{ parent() }}
    Fiche de frais {{ entity.dateModif|date("m/Y") }} </h1>
{% endblock %}

{% block body -%}
    <div class="row panel panel-primary commentsList">
        <div class="panel-heading">
            Fiche de frais détaillée - {{ entity.dateModif|date('d/m/Y') }}
        </div>
        <div class="panel-body">
            <table class="table table-striped" id="tabList">
                <thead>
                    <tr style="color: #343434 !important;">
                        <th>Visiteur n°</th>
                        <th>Dernière modification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ entity.idVisiteur }}</td>
                        <td>{{ entity.dateModif|date('d/m/Y') }}</td>
                        <td>
                            {{ form(delete_form) }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <form>
                {% if ficheFrais is null %}
                    {% for frais in fraisForfait %}
                        <td><label>{{ frais.libelle }}</label></td>
                        <td><input type="text" id={{ frais.id }}
                            name={{ frais.libelle }}
                                   size="10" maxlength="5"
                                   title="Saisissez une quantité"
                                   value="" /></td>
                    {% endfor %}
                {% else %}
                    <table class="table table-striped table-hover" id="tabList">
                        <tbody>
                        {#TODO: Optimiser l'itération des lignesFraisForfait#}
                        {% for ligne in lignesFraisForfait %}
                            <tr>
                                {% if ligne.idFraisForfait == "ETP" %}
                                    <td><label>{{ fraisForfait.0.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.0.id }}
                                        name={{ fraisForfait.0.libelle }}
                                               size="10" maxlength="5"
                                               title="Saisissez une quantité"
                                               value={{ ligne.quantite }} /></td>
                                {% elseif ligne.idFraisForfait == "KM"%}
                                    <td><label>{{ fraisForfait.1.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.1.id }}
                                        name={{ fraisForfait.1.libelle }}
                                               size="10" maxlength="5"
                                               title="Saisissez une quantité"
                                               value={{ ligne.quantite }} /></td>
                                {% elseif ligne.idFraisForfait == "NUI"%}
                                    <td><label>{{ fraisForfait.2.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.2.id }}
                                        name={{ fraisForfait.2.libelle }}
                                               size="10" maxlength="5"
                                               title="Saisissez une quantité"
                                               value={{ ligne.quantite }} /></td>
                                {% elseif ligne.idFraisForfait == "REP"%}
                                    <td><label>{{ fraisForfait.3.libelle }}</label></td>
                                    <td><input type="text" id={{ fraisForfait.3.id }}
                                        name={{ fraisForfait.3.libelle }}
                                               size="10" maxlength="5"
                                               title="Saisissez une quantité"
                                               value={{ ligne.quantite }} /></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row">
        <a href="{{ path('fichefrais') }}">
            Retour à la liste des fiches frais
        </a>
    </div>
{% endblock %}
